html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/garden-bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.app-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
}

.content-container {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/*************** Main Content ***************/
.main-container {
    background: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

#landing {
    transition: width 2s;
}

/*** Landing ***/
#landing .landing-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}


#landing .company-intro {
    width:50%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 2rem;
}

#landing .company-intro i {
    color: #0ABD81;
    margin-top: 1rem;
}

#landing .company-intro .title {
    display: inline-block;
    color: #034618;
    font-size: 2.5em;
    margin-left: 0.7rem;
    margin-bottom: 0.7rem;
}

#landing .company-intro p {
    color: #777;
    text-align: left;
    font-size: 1.1em;
    line-height: 2rem;
}

.landing-img {
    background: url(../img/landing.jpeg) no-repeat center center fixed;
    width: 50%;
    height: 100%;
}

.item {
    display: none;
    min-width: 100%;
    width: 100%;
    height: 100%;
}

.selected {
    display: block;
}

/*************** Navigation ***************/
.button-container {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.button-container a{
    margin-top: 0.5rem;
    text-decoration: none;
    font-size: 0.3em;
    color: #fff;
    float: right;
}

.button-container a:hover {
    color: yellow;
}

/*************** Footer ***************/
footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.social-media-container {
    display: inline-block;
}

footer .social-media-container a {
    color: #fff;
    margin-right: 1rem;
}

footer span {
    color: #fff;
    font-size: 1em;
}